body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #26096e;
  color: #fff;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.headline {
  font-weight: 900;
  font-size: 3rem;
}

.outerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  flex-direction: column;
}

.innerWrapper {
  display: flex;
  gap: 3rem;
  align-items: end;
}
.instrWrapper{
  text-align: center;
}

.initGame {
  display: block;
}

.initGame,
.headline,
.optHead {
  text-align: center;
  text-transform: capitalize;
  font-weight: 400;
}

.optHead {
  font-size: 2rem;
}


.symbol {
  width: 80%;
}

/* starting animation */

.rocCont {
  animation: bounce1 3s ease-in-out infinite;
}
.papCont {
  animation: bounce2 3s ease-in-out infinite;
  animation-delay: 0.2s;
}
.scisCont {
  animation: bounce3 3s ease-in-out infinite;
  animation-delay: 0.4s;
}

@keyframes bounce1 {
  20% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(0);
  }
}

@keyframes bounce2 {
  20% {
    transform: translateY(-15%);
  }

  50% {
    transform: translateY(0);
  }
}

@keyframes bounce3 {
  25% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(0);
  }
}





/* media queries */
@media screen and (max-width: 600px) {
  .innerWrapper {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .symbolCard,
  .symbol {
    width: 55%;
  }

  .rocCont {
    animation: vibrate1 4s ease-in-out infinite;
  }
  .papCont {
    animation: vibrate2 4s ease-in-out infinite;
    animation-delay: 1.5s;
  }
  .scisCont {
    animation: vibrate3 4s ease-in-out infinite;
    animation-delay: 2.8s;
  }
 

  @keyframes vibrate1 {
    0%,
    4%,
    8%,
    12%,
    16%,
    20%,
    24%,
    28%,
    32% {
      transform: rotate(-3deg);
    }
    2%,
    6%,
    10%,
    14%,
    18%,
    22%,
    26%,
    30% {
      transform: rotate(3deg);
    }
    33%,
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes vibrate2 {
    0%,
    4%,
    8%,
    12%,
    16%,
    20%,
    24%,
    28%,
    32% {
      transform: rotate(-3deg);
    }
    2%,
    6%,
    10%,
    14%,
    18%,
    22%,
    26%,
    30% {
      transform: rotate(3deg);
    }
    33%,
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes vibrate3 {
    0%,
    4%,
    8%,
    12%,
    16%,
    20%,
    24%,
    28%,
    32% {
      transform: rotate(-3deg);
    }
    2%,
    6%,
    10%,
    14%,
    18%,
    22%,
    26%,
    30% {
      transform: rotate(3deg);
    }
    33%,
    100% {
      transform: rotate(0deg);
    }
  }
}



/* button creation */

.suddenDeath {
  box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  background: linear-gradient(to bottom, #fc8d83 5%, #ff1100 100%);
  background-color: #fc8d83;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}
.suddenDeath:hover {
  background: linear-gradient(to bottom, #f10 5%, #fc8d83 100%);
  background-color: #f10;
}
.suddenDeath:active {
  position: relative;
  top: 1px;
}

.threeRounds {
  box-shadow: inset 0px 1px 0px 0px #443fd9;
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  background-color: #89c403;
  border-radius: 6px;
  border: 1px solid #a6e048;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
}
.threeRounds:hover {
  background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
  background-color: #77a809;
}
.threeRounds:active {
  position: relative;
  top: 1px;
}

.fiveRounds {
  box-shadow: 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}
.fiveRounds:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}
.fiveRounds:active {
  position: relative;
  top: 1px;
}

.roundSelection {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/* JS classes: display score counter score counter */

.outterScoreWrap {
  display: flex;
  flex-direction: column;
}

.scoreContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
}

.styleScoreCont {
  justify-content: space-between;
}

.styleScores{
  display: flex;
  gap:1rem;
}

.circle {
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
  border: solid 2px;
}

.toggleBG {
  background-color: green;
}

/* JS classes */

.adjustInnerWrap{
  gap:20rem;
}

.suddenDH1{
  color: red;
}
.selectSymbol{
  text-align: center;
}

.symbolZoom:hover
{
  -webkit-transform: scale(1.25); /* Safari 3-8 */
  transform: scale(1.25);
  border: #89c403 solid 2px;
  cursor: pointer;
}

.papCont{
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.papContFade{
  visibility: hidden;
 opacity: 0;
 transition: visibility 0s 1s, opacity 1s linear;
}

.stopAnimation {
  animation: none;
}

@media screen and (max-width: 810px) {
  img {
    width: 80%;
  }

  .innerWrapper {
    gap: 0;
  }
  .initGame span {
    display: none;
  }

  .initGame::after {
    content: "tap to continue";
  }
 
}
@media screen and (max-width:429px) {
  .headline{
    font-size: 1.25rem;
  }
  
  .optHead, .initGame, .selectSymbol{
    font-size: 1rem;
  }

}



@media screen and (max-width: 390px) {
  .symbolCard,
  .symbol {
    width: 50%;
  }
  .headline{
    font-size: 1.5rem;
  }

  .scoreContainer{
    margin-bottom: 3rem;
  }

  .circle{
    width:1.125rem;
    height: 1.125rem;
  }
.optHead, .initGame, .selectSymbol{
  font-size: 1.25rem;
}

}

@media screen and (max-width: 375px) {
  .symbolCard,
  .symbol {
    width: 40%;
  }
}