body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #26096e;
  color: #fff;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.headline {
  font-weight: 900;
  font-size: 3rem;
}

.outerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.innerWrapper {
  display: flex;
  gap: 3rem;
  align-items: baseline;
}

.initialInstr,
.headline,
.optHead {
  text-align: center;
  text-transform: capitalize;
  font-weight: 400;
}

.optHead {
  font-size: 2rem;
}
.papTitle {
  position: relative;
  left: 1.5rem;
}

.symbol {
  width: 80%;
}

.rocCont {
  animation: bounce1 3s ease-in-out infinite;
}
.papCont {
  animation: bounce2 3s ease-in-out infinite;
  animation-delay: 0.2s;
}
.scisCont {
  animation: bounce3 3s ease-in-out infinite;
  animation-delay: 0.4s;
}

@keyframes bounce1 {
  20% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(0);
  }
}

@keyframes bounce2 {
  20% {
    transform: translateY(-15%);
  }

  50% {
    transform: translateY(0);
  }
}

@keyframes bounce3 {
  25% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(0);
  }
}

/* media queries */

@media screen and (max-width: 810px) {
  img {
    width: 80%;
  }

  .innerWrapper {
    gap: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  [data-alttext] > span {
    display: none;
  }

  [data-alttext]::before {
    content: attr(data-alttext);
  }
}

@media screen and (max-width: 600px) {
  .innerWrapper {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .symbolCard,
  .symbol {
    width: 60%;
  }
  .rocCont {
    animation: vibrate1 4s ease-in-out infinite;
  }
  .papCont {
    animation: vibrate2 4s ease-in-out infinite;
    animation-delay: 1.5s;
  }
  .scisCont {
    animation: vibrate3 4s ease-in-out infinite;
    animation-delay: 2.5s;
  }

  @keyframes vibrate1 {
    0%,
    4%,
    8%,
    12%,
    16%,
    20%,
    24%,
    28%,
    32% {
      transform: rotate(-3deg);
    }
    2%,
    6%,
    10%,
    14%,
    18%,
    22%,
    26%,
    30% {
      transform: rotate(3deg);
    }
    33%,
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes vibrate2 {
    0%,
    4%,
    8%,
    12%,
    16%,
    20%,
    24%,
    28%,
    32% {
      transform: rotate(-3deg);
    }
    2%,
    6%,
    10%,
    14%,
    18%,
    22%,
    26%,
    30% {
      transform: rotate(3deg);
    }
    33%,
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes vibrate3 {
    0%,
    4%,
    8%,
    12%,
    16%,
    20%,
    24%,
    28%,
    32% {
      transform: rotate(-3deg);
    }
    2%,
    6%,
    10%,
    14%,
    18%,
    22%,
    26%,
    30% {
      transform: rotate(3deg);
    }
    33%,
    100% {
      transform: rotate(0deg);
    }
  }
}
@media screen and (max-width: 428px) {
  .scisCont,
  .rocCont,
  .papCont {
    animation: none;
  }
}
